@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --light-pink: #fff3e3;
  --gold: #b88e2f;
  --offer-bg: #e97171;
  --new-bg: #2ec1ac;
  --light-grey: #f4f5f7;
  --grey: #898989;
  --floral-white: #fcf8f3;
  --linen: #f9f1e7;
  --silver: #9f9f9f;
  --yellow: #ffc700;
  --overlay: rgba(0, 0, 0, 0.2);
  --blue: #816dfa;
}

::selection {
  background-color: var(--gold);
  color: white;
}

body {
  overflow-x: hidden;
}
